.App {
  text-align: center;
}

.image-container {
  object-fit: cover;
}

.prev-button {
  
  top: 50%;
}

.next-button {
  
}

.button-container {
  position: absolute;
}

.carousel-container {
  position: relative;
  width: 500px;
  height: 500px;
}

.slide {
  position: absolute;
  transition: all 0.5s;
 
}